@*@using FCL.Web.Utility*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - FCL Helper Application</title>
    @RenderSection("meta", required: false)
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/themes/default/bootstrap.css" rel="stylesheet">
    <link href="~/Content/datepicker.css" rel="stylesheet"/>
    <link href="~/Content/roboto.min.css" rel="stylesheet">
    <link href="~/Content/material.min.css" rel="stylesheet">
    <link href="~/Content/ripples.min.css" rel="stylesheet">

    <script src="@Url.Content("~/Scripts/jquery-1.11.2.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.formatCurrency-1.4.0.js")" type="text/javascript"></script>

    <script src="~/Scripts/ripples.min.js"></script>
    <script src="~/Scripts/material.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>
        $(document).ready(function () {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    </script>



    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)

    @Html.Partial("_html5shiv")

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/ico/apple-touch-icon-57-precomposed.png">
    <link href="~/Content/ico/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    @Html.Partial("_NavBar")

    @RenderSection("featured", required: false)

    <div class="container">
        @RenderBody()
        <hr />
        <div class="footer">
            <p>&copy; Fast Credit Limited @DateTime.Now.Year</p>
        </div>
    </div>
</body>
</html>
